#professional-view,
#personal-view {
  transition: opacity 0.3s ease-in-out;
}

/* Flip nav item */
#view-toggle-nav i {
  transition: transform 0.3s ease;
}

#view-toggle-nav:hover i {
  transform: rotate(180deg);
}
