{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 interests-section" id="{{ $sectionID }}">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}
  <div class="container d-flex-block">
    <div class="row" id="primary-interests">
      {{ range .interests }}
      <div class="col-xs-12 col-sm-6 col-lg-4 pt-2">
        <div class="card">
          <div class="card-head d-flex">
            {{ if .icon }}
              <h5 class="card-title"><span class="{{ .icon }}"></span> {{ .name }}</h5>
            {{ else }}
              <h5 class="card-title">{{ .name }}</h5>
            {{ end }}
          </div>
          <div class="card-body text-justify pt-1 pb-1">
            <p class="card-text">{{ .summary | markdownify }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
